<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - IndigoErp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IndigoErp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light" m>
            <a class="navbar-brand" asp-action="Index" asp-controller="Home" >
                <img src="placeholder.png" width="100" height="100" alt="Logo">
            </a>
            <button class="navbar-toggler menu-i" type="button" data-toggle="collapse" data-target="#HeaderNavBar" onclick="this.classList.toggle('active')" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="HeaderNavBar">
                <ul class="navbar-nav w-100 align-items-center">


                    <div class="d-flex flex-column justify-content-center">
                        <img src="~/images/consulta.png" style="width:10%; height:10%; margin-left:50%" /> <a class="nav-link" asp-action="Index" asp-controller="Ocorrencias">Consulta de Ocorrências</a>
                    </div>


                    <li class="nav-item">
                       <img src="~/images/solicitacao.png" style="width:10%; height:10%; margin-left:10%" /> <a class="nav-link" asp-action="Index" asp-controller="Solicitacao">Solicitação de serviços</a>
                    </li>
                    <li class="nav-item">
                        <img src="~/images/indicadores.png" style="width:10%; height:10%; margin-left:15%" /><a class="nav-link" asp-action="Index" asp-controller="Indicadores">Indicadores</a>
                    </li>
                    <li class="nav-item">
                        <img src="~/images/equipamentos.png" style="width:10%; height:10%; margin-left:15%" /><a class="nav-link" asp-action="Index" asp-controller="Equipamentos">Equipamentos</a>
                    </li>
                    <li class="nav-item">
                        <img src="~/images/financeiro.png" style="width:10%; height:10%; margin-left:15%" /><a class="nav-link" asp-action="Index" asp-controller="Financeiro">Financeiro</a>
                    </li>
                        <div class="ml-auto" style="margin-right:10px" id="perfil">
                            <li class="nav-item">
                                <a class="nav-link" href="perfil.html">Perfil</a>
                            </li>
                        </div>
                    </li>
                </ul>
                 <div class="navbar-nav ml-auto">
                        <a href="#" id="user-dropdown" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class='user-avatar' src="placeholder.png" width="50" height="50"> {{ user["username"] }}</a>
                        <div class="dropdown-menu dropdown-menu-right mr-4 bg-lightblue" aria-labelledby="user_dropdown">
                            <a class="nav-link pl-1" class="dropdown-item" asp-action="Index" asp-controller="User"><i class="fas fa-sign-out-alt"></i> Deslogar</a>
                        <a class="nav-link pl-1 dropdown-item"><i class="fas fa-profile-alt"></i> Perfil</a>
                        </div>
                    </div>
            </div>
        </nav>
        
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
body{
   background: white !important;
}
   
   #HeaderNavbar > ul{
      align-items: flex-start !important;
	padding-left: 100px;
   }

   #HeaderNavbar > ul li.ml-auto{
      margin-left: 1000px !important;
   }

   #HeaderNavbar > ul li.ml-auto .mr-4{
      margin-right: 1000px !important;
   }
   
}
</style>
    </header>
    <div class="container-fluid " style="height:86%;">

            @RenderBody()

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - IndigoErp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
