@model LoginModel
@{
    Layout = "_LayoutLogin";

}

<head>
    <meta charset="UTF-8">
    <title>Recuperação de senha</title>
  
</head>
<body>
    <section class="w-100 h-100 d-flex justify-content-center align-items-center">
        <div class="container">
            <form asp-action="SendVerificationCode" asp-controller="User">
                <div class="header">
                    <img src="/images/logo.png" style="width:65%;" alt="Logo">
                </div>
                <div class="message">
                    <h1 style="font-size:30px">@ViewBag.Title</h1>
                    <p>@ViewBag.Message</p>
                </div>
                <div class="code-input">
                    <input type="email" asp-for=Email class="form-control" style="margin-bottom:10%;" pattern="^[0-9A-z._]+@@([0-9A-z]+\.[0-9A-z]+)+$" placeholder="@ViewBag.Placeholder">
               
                    <input class=" btn btn-primary" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </section>
</body>
  <style>
        .container {
            
            height:60%;
            width: 25%;
            display:flex;
            flex-direction:column;
            justify-content:start;
            border: solid 2px var(--primary);
            box-shadow: 76px 78px 100px 69px rgba(0,0,0,0.1);
            border-radius:5px;

        }

        .container div {
            margin-bottom: 15%;
        }


        .header {
            display:flex;
            justify-content:center;
            background-color: none;
            padding-top: 20px;
        }

        .message {
            text-align: start;
            font-size: 18px;
        }

        .code-input {
            width: 100%;
            padding: 10px;
        }

        .submit-button {
            width: 100%;
            background-color: none;
            color: var(--primary-color);
            padding: 10px;
        }
    </style>