@model LoginModel
@{

    Layout = "_LayoutLogin";

 }
<head>
    <title>Login</title>
</head>
<body>

    <main class="container-fluid d-flex w-100 h-100 justify-content-center">

        <div class=" col-4 d-flex  flex-column justify-content-center align-items-start">
            <p style="font-size:27px;padding-top:20%;">Indigo é uma plataforma de gestão de equipamentos industriais gerando indicadores confiaveis para que você extraia o maximo do seu negocio</p>
            <img class="img-fluid" src="~/images/erp-solutions.gif">
        </div>

        <section class="col-5 d-flex h-100 justify-content-center align-items-center">
            <form class=" h-50 w-50" asp-action="Login" asp-controller="User" method="post">
                <div class="d-flex h-50 flex-column justify-content-between align-items-center">
                    <div class="w-100">
                        <input asp-for=Email type="text" class="form-control  border-2 fw-bold " style="margin-bottom:5%;" pattern="^[0-9A-z._]+@@([0-9A-z]+\.[0-9A-z]+)+$" placeholder="Usuário">
                        <input asp-for=Password type="password" class="form-control  border-2 fw-bold " placeholder="Senha">
                        <span class="text-danger"  asp-validation-for="Email"></span>
                    </div>
                    <div class="w-100">
                        <input type="submit" class="btn btn-outline-primary border-2 fw-bold w-100 " value="Entrar"><br>
                        <a asp-action="RequestEmail" asp-controller="User" class="link-primary fw-bold" id="recuperar" >Esqueci a senha</a>
                    </div>
                </div>
            </form>
        </section>

    </main>

</body>

