@model EquipModel

<section class="col-12 h-100 d-flex justify-content-between align-items-center ">

    <aside class="col-md-2">
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="sidebar bg-white">
            <div class="position-sticky">
                <a asp-action="Index" class="list-group-item list-group-item-action py-2 ripple">
                    <i class=""></i><span class="list-text">Equipamentos Cadastrados</span>
                </a>
                <a asp-action="CreateEquip" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span class="list-text">Novo Equipamento</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-lock fa-fw me-3"></i><span class="list-text">Comparar Equipamentos</span>
                </a>
            </div>
        </nav>
    </aside>

    <main class="col-md-10 d-flex flex-column justify-content-end align-items-center" >

        <h1 style="padding-top:50px;">Cadastro de Equipamento</h1>

        <span class="text-danger" asp-validation-for="Id"></span>

        <form class="w-100 d-flex flex-column justify-content-center align-items-center" asp-action="InsertEquip" asp-controller="Equip">
           
           <div class="col-6">
               <label for="nome" class="col-form-label">Nome do Equipamento</label>
               <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Nome"/>
           </div>
            <div class="col-6">
                <label for="numeroSerie" class="col-form-label">Número de Série</label>
                <input type="number" asp-for="NumeroSerie" class="form-control" id="numeroSerie" placeholder="Número de Série" />
            </div>
            <div class="col-6">
                <label for="marca" class="col-form-label">Marca do Equipamento</label>
                <input type="text" asp-for="Marca" class="form-control" id="marca" placeholder="Marca" />
            </div>
            <div class="col-6">
                <label for="modelo" class="col-form-label">Modelo do Equipamento</label>
                <input type="text" asp-for="Modelo" class="form-control" id="modelo" placeholder="Modelo" />
            </div>

            <div class="col-6">
                <label for="setor" class="col-form-label">Setor</label>
                <select asp-for="Setor" asp-items=ViewBag.Sections class="form-control" id="setor"/>
            </div>


           

        </form>
        <br>
         <button type="submit" class="btn btn-primary" >Adicionar Equipamento</button>
    </main>

</section>

<style>

    section label {
        font-size: 25px;
        margin-top: 10%;
    }

    .col-form-label{
    
        font-weight:bold
    
    }

    .col-6{
     
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:start;
        padding:20px;
    
    }

    .col-md-3 {
        height: 100%;
        display: flex;
        opacity: 0;
        animation: fade-in;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>
