@model EquipModel

<section class="col-12 h-100 d-flex justify-content-between align-items-center ">
    <aside class="col-md-2">
        <nav id="sidebarMenu" class="sidebar bg-white">
            @if (ViewBag.Mode != "U")
            {
                <div class="position-sticky">
                    <a asp-action="Index" class="list-group-item list-group-item-action py-2 ripple">
                        <i class=""></i><span class="list-text">Equipamentos Cadastrados</span>
                    </a>
                    <a asp-action="CreateEquip" class="list-group-item list-group-item-action py-2 ripple active">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span class="list-text">Novo Equipamento</span>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-lock fa-fw me-3"></i><span class="list-text">Comparar Equipamentos</span>
                    </a>
                </div>
            }
            else
            {
                <div class="position-sticky">
                    <a asp-action="Index" class="list-group-item list-group-item-action py-2 ripple">
                        <i class=""></i><span class="list-text"> <img class="img-fluid" src="~/images/logout.png">Voltar</span>
                    </a>
                </div>

            }

        </nav>
    </aside>

    <main class="col-md-10 d-flex flex-column justify-content-end align-items-center" >

        @if (ViewBag.Mode != "U")
        {
            <h1 style=" font-size:2rem; padding-top:18px;">Cadastro de Equipamento</h1>
        }
        else
        {
            <h1 style="font-size:2rem; padding-top:18px;">Edição de Equipamento</h1>
        }


       

        <form class="w-100 d-flex flex-column justify-content-center align-items-center" id="form" asp-action="InsertEquip" asp-controller="Equip">
           
            <input type="hidden" name="operation" value="@ViewBag.Mode" />
            <input type="hidden" asp-for="Id" />

            <div class="col-6" id="nome">
                <span class="text-danger" asp-validation-for="Id"></span>
               <label for="nomeInput" class="col-form-label">Nome do Equipamento</label>
                <input type="text" asp-for="Nome" class="form-control w-100" id="nomeInput" required placeholder="Nome" />
                <p class="alert-danger rounded-2 p-1 m-sm-1" style="display:none;">Campo Obrigatório</p>
           </div>
            <div class="col-6" id="numeroSerie">
                <label for="numeroSerieInput" class="col-form-label">Número de Série</label>
                <input type="text" asp-for="NumeroSerie" class="form-control w-100" id="numeroSerieInput" required placeholder="Número de Série" />
                <p class="alert-danger rounded-2 p-1 m-sm-1" style="display:none;">Campo Obrigatório</p>
            </div>
            <div class="col-6" id="marca">
                <label for="marcaInput" class="col-form-label">Marca do Equipamento</label>
                <input type="text" asp-for="Marca" class="form-control w-100" id="marcaInput" required placeholder="Marca" />
                <p class="alert-danger rounded-2 p-1 m-sm-1" style="display:none;">Campo Obrigatório</p>
            </div>
            <div class="col-6" id="modelo">
                <label for="modeloInput" class="col-form-label">Modelo do Equipamento</label>
                <input type="text" asp-for="Modelo" class="form-control w-100" id="modeloInput" required placeholder="Modelo" />
                <p class="alert-danger rounded-2 p-1 m-sm-1" style="display:none;">Campo Obrigatório</p>
            </div>
            <div class="col-6" id="setor">
                <label for="setorInput" class="col-form-label">Setor</label>
                <select asp-for="Setor" asp-items="ViewBag.Sections" class="form-control w-100" id="setorInput"></select>
                <p class="alert-danger rounded-2 p-1 m-sm-1" style="display:none;">Selecione um Setor Para o Equipamento</p>
            </div>


            <br>

            @if (ViewBag.Mode != "U")
            {
                <button type="button" class="btn btn-primary  ">Adicionar Equipamento</button>
            }
            else
            {
                <button type="button" class="btn btn-primary">Editar Equipamento</button>
            }
            <br>
        </form>
        
    </main>

</section>

<script>

    const button = document.querySelector('.btn')
    button.addEventListener('click', function () 
    {
        
        event.preventDefault()
        ValidateEquip() 
    })

</script>

<style>

    section label {
        font-size: 25px;
        margin-top: 10%;
    }

    .col-form-label{
    
        font-weight:bold
    
    }

    .col-6{
     
        display:flex;
        flex-direction:column;
        justify-content:start;
        align-items:start;
        padding:20px;
    
    }

    .col-md-3 {
        height: 100%;
        display: flex;
        opacity: 0;
        animation: fade-in;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

</style>
