

<section class="col-12 d-flex justify-content-evenly align-items-center ">

    <a class="btn-navigation" >a</a>
    <a class="btn-navigation">a</a>
    <a class="btn-navigation" >a</a>
    <a class="btn-navigation" >a</a>
    <a class="btn-navigation" >a</a>
    <a class="btn-navigation" >a</a>    
    <a class="btn-navigation" >a</a>
</section>